html{
    font-family: 'Courier New', Courier, monospace;
    
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(4, 12, 41);
    width: 320px;
    padding: 100px;
    
}

.ButtonContainer {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto;
    
}


button{
    
    background-color: rgb(255, 230, 192);    
    color: rgb(49, 49, 49);
    box-shadow: 1px 3px 10px  rgb(0, 0, 0);
    font-size: 300%;
    width: 100px;
    height: 60px;
    border-radius: 5px;
    border: 1px;
    border-color: rgb(255, 230, 192);
}
